

.custom-column {
    width: 10%;
  }
  
  .btn-success{
  margin-left:  92%;
  }
  .btn-warning{
    width: 12%;
    margin-left:  89%;
  
  }
  .custom-title {
    font-weight: bold; /* Texte en gras */
    font-style: italic; /* Texte en italique */
    color: #1b6cc2; /* Couleur du texte (bleu dans cet exemple) */
    text-transform: uppercase; /* Texte en majuscules */
    font-size: 24px; 
    /* Autres styles CSS personnalisés ici */
}
.custom-bar {
    border: none; /* Supprime la bordure par défaut de la ligne */
    border-top: 2px solid #007bff; /* Couleur de la ligne (bleu dans cet exemple) */
    margin-top: 10px; /* Espacement supérieur (ajustez selon vos besoins) */
}

.input-group-append {
    cursor: pointer;
  }

  
  