<!-- <!DOCTYPE html>
<html lang="en" class="h-100">

<body class="vh-100" style="background-image:url('assets/images/bg.png'); background-position:center;">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-1">
                                        <a href="index.html"><img src="images/logo/logo-full.png" alt=""></a>
                                    </div>
                                    <h4 class="text-center mb-1">Sign UP new account</h4>
                                    <form #addForm="ngForm" action="https://yashadmin.dexignzone.com/xhtml/index.html">
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>FirstName</strong></label>
                                            <input type="email" class="form-control" placeholder="Enter the firstname"  [(ngModel)]="organisateur.firstname" name="firstname" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>LastName</strong></label>
                                            <input type="email" class="form-control" placeholder="Enter the lastname" [(ngModel)]="organisateur.lastname" name="lastname" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" placeholder="hello@example.com" [(ngModel)]="organisateur.email" name="email" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>Adresse</strong></label>
                                            <input type="email" class="form-control" placeholder="Enter the address" [(ngModel)]="organisateur.adresse" name="adresse" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>Cin</strong></label>
                                            <input type="email" class="form-control" placeholder="Enter the number cin" [(ngModel)]="organisateur.cin" name="cin" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>PhoneNumber</strong></label>
                                            <input type="email" class="form-control" placeholder="ex: (+216) _ _ _ _ _ _ _ _" [(ngModel)]="organisateur.phoneNumber" name="phonenumber" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="Password" [(ngModel)]="organisateur.password"  name="password" required>
                                        </div>
                                        <div class="mb-1">
                                            <label class="mb-1"><strong>Role</strong></label>
                                            <input type="text" class="form-control" value="role" [(ngModel)]="organisateur.role" name="role" required>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block" (click)="SignUp(addForm)" >Sign UP</button>
                                            <p> Already have an account ? <a href="/loginregister">Sign In</a> </p>
                                        </div>
                                       
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


l
</body>

</html> -->